<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
<!--           <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          /> -->
          
          <div style="text-align:center"><img src="https://pic2.zhimg.com/80/v2-909581c1305d8918b4a0bc29aae7c289_720w.jpg" width=250 height=250 align=center class="profile-pic"/></div> 

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
