<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
<!--           <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          /> -->
          
          <div style="text-align:center"><img src="https://pic3.zhimg.com/v2-d5d6d36f49866f7db929c715a6b8606a_b.jpg" width=264 height=264 align=center class="profile-pic"/></div> 

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
